.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.firstContainer {
  display: flex;
}

.firstContainer h1 {
  width: 15rem;
  height: 2.313rem;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.navbar ul li {
  font-size: 22px;
  font-weight: 600;
}

.navbar ul li a {
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
  text-decoration: none;
}